/* Responsive design */
@media (max-width: 768px) {
    .card {
      margin-bottom: 20px; 
    }
  }
  
  /* Padding and line height adjustments */
  #placements {
    padding: 60px 0; 
  }
  
  .card-body {
    padding: 20px;
  }

  .card-title{
    text-align: center;
  }
  
  h3 {
    margin-bottom: 20px; 
  }
  
  p {
    line-height: 1.6;
  }

  /* #pap-cards {
    border-radius: 0px 30px;
    animation: border 6s linear infinite ;
    
}

@keyframes border{
    0%{border-radius: 0px 30px;}
    50%{border-radius: 30px 0px;}
    100%{border-radius: 0px 30px;}
} */
  
.pap-cards-lin:before {
  display: block;
  content: "";
  width: 9%;
  height: 17%;
  position: absolute;
  bottom: -3px;
  right: -3px;
  border-bottom: 3px solid #ed1944;
  border-right: 3px solid #ed1944;
  transition: all 0.5s ease 0s;
}
.pap-cards-lin:after {
  display: block;
  content: "";
  width: 9%;
  height: 17%;
  position: absolute;
  top: -3px;
  left: -3px;
  border-top: 3px solid #ed1944;
  border-left: 3px solid #ed1944;
  transition: all 0.5s ease 0s;
}

.pap-cards-lin:hover:before , .pap-cards-lin:hover:after {
  width: 50%;
  height: 50%;
}

.flexi{
  width: 100px;
  margin: auto;
}

#text-colors{
  color: white;
}

#placement-accordion .accordion-button:not(.collapsed) {
  background-color: rgba(238, 38, 211, 0.74);
  color: whitesmoke;
}

.acc-bg{
background-color: rgb(68, 129, 221);
}
