#placements .testimotionals {
    display: inline-block; 
}


#placements .testimotionals .card {

    position: relative;

    overflow: hidden;   

    margin: 0 auto;

    background: cadetblue;

    padding: 36px;

    box-sizing: border-box;

    text-align: center;

}

#placements .testimotionals .card .layer {
    z-index: 1;
    position: absolute;
    top: calc(100% - 2px);
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(to left, orange, tomato);
    transition: 0.5s;
}

#placements .testimotionals .card .content {
    z-index: 2;
    position: relative;
}

#placements.testimotionals .card:hover .layer {
    top: 0;
}

#placements .testimotionals .card .content p {
    font-size: 14px;
    line-height: 24px;
    color: black;
}

#placements .testimotionals .card .content .image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);

}

#placements .testimotionals .heading {
    color: white;

}

#placements .testimotionals .card .content .details h2 {
    font-size: 18px;
    color: white;
}

#placements .testimotionals .card .content .details h2 span {
    font-size: 18px;
    color: purple;
    transition: 0.5s;
}

#placements .testimotionals .card:hover .content .details h2 span {
    color: white;
    position: relative
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}



@media (min-width: 992px) {
    .atit-card-container .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333%;
    }
}


@media (min-width: 768px) {
    .atit-card-container .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .testimotionals .card .content p {
        min-height: 185px;
    }
    .testimotionals .heading {
        min-height: 70px;
    }
}